<%= render "flash" %>

<h1>List of Kittens</h1>

<ol>
  <% @kittens.each do |kitten| %>
    <li>
      <%= link_to kitten.name, kitten %>
    </li>
  <% end %>
</ol>

<br>

<%= link_to "Create New Kitten", new_kitten_path %>