<h1>List of Kittens</h1>

<% @kittens.each do |kitten| %>
  <ol>
    <li>
      <%= link_to kitten.name, kitten %>
    </li>
  </ol>
<% end %>

<br>

<%= link_to "Create New Kitten", new_kitten_path %>